.info {
  position: relative;
  z-index: 1;
  width: 100%;
  background: transparent url('../images/info-banner.jpg') no-repeat center center;
  background-size: cover;

  &__bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, #272729, #161618);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
  }

  &__container {
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    padding: 55px 10px;


    @media (min-width: $desktop-min) {
      flex-direction: row;
      padding: 215px 90px 225px;
    }
  }

  &__text-wrap {
    @media (min-width: $desktop-min) {
      text-align: right;
    }
  }

  &__img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    max-width: 160px;
    max-height: 423px;
    border: solid 4px $accentColor;
    margin-bottom: 25px;

    @media (min-width: $mobile-max) {
      max-width: 309px;
    }

    @media (min-width: $desktop-min) {
      margin-bottom: 0;
      margin-left: 50px;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.23;
    text-align: center;
    color: $accentColor;
    padding-bottom: 20px;
    @media (min-width: $mobile-max) {
      font-size: 35px;
    }

    @media (min-width: $desktop-min) {
      padding-bottom: 0px;
      text-align: right;
    }

    + p {
      padding-bottom: 25px;

      @media (min-width: $desktop-min) {
      }
    }
  }

  p {
    font-size: 18px;
    line-height: 1.65;
    text-align: center;
    color: $mainColor;
    margin: 0 auto;

    @media (min-width: $mobile-max) {
      padding-top: 20px;
      padding-bottom: 40px;
      width: 80%;
      font-size: 26px;
    }

    @media (min-width: $desktop-min) {
      width: auto;
      text-align: right;
    }
  }


  &__download {
    display: flex;
    justify-content: center;
    @media (min-width: $desktop-min) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__btn {
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 5px 10px 10px;
    background-color: $accentColor;
    color: $light;
    font-size: 16px;
    font-weight: 900;
    @media (min-width: $desktop-min) {
      margin-top: 0;
      font-size: 21.5px;
      padding: 10px 5px 10px 25px;
    }
  }

  &__img-download {
    width: 24px;
    height: 30px;
    margin: 0 15px;


    img {
      object-fit: none;
    }
  }
}